.flexContainer {
  margin: auto;
  padding-top: auto;
  font-family: $text-font;
}

@include media-breakpoint-up(xs) {
  .aboutSection {
    height: calc(150vh);
    padding: 0.5rem;
  }
  .flexContainer {
    h1 {
      font-weight: 200;
      font-size: 2rem;
    }
    h4 {
      font-size: 1rem;
      font-weight: 600;
    }
    p {
      font-size: 0.9rem;
      padding-bottom: 0rem;
    }
    .image {
      margin: auto;
      padding-bottom: 0.5rem;
      max-width: 200px;
    }
  }
}
@include media-breakpoint-up(sm) {
  .aboutSection {
    height: calc(150vh);
    padding: 2rem;
  }

  .flexContainer {
    h1 {
      font-weight: 200;
      font-size: 2rem;
    }
    h4 {
      font-size: 1.2rem;
      font-weight: 600;
    }
    p {
      font-size: 1rem;
      padding-bottom: 0.2rem;
    }
    .image {
      margin: 0;
      padding-bottom: 0;
      max-width: 300px;
    }
  }
}

@include media-breakpoint-up(md) {
  .aboutSection {
    height: calc(100vh);
  }
  .flexContainer {
    h1 {
      font-weight: 200;
      font-size: 2.5rem;
    }
    h4 {
      font-size: 1.4rem;
      font-weight: 600;
    }
    p {
      font-size: 1.2rem;
      padding-bottom: 0rem;
    }
    .image {
      margin: 0;
      padding-bottom: 0;
    }
  }
}

@include media-breakpoint-up(lg) {
  .flexContainer {
    h1 {
      font-weight: 200;
      font-size: 3rem;
    }
    h4 {
      font-size: 1.4rem;
      font-weight: 600;
    }
    p {
      font-size: 1.2rem;
      padding-bottom: 0.5rem;
    }
  }
  @include media-breakpoint-up(xl) {
    .flexContainer {
      h1 {
        font-weight: 200;
        font-size: 3.5rem;
      }
      h4 {
        font-size: 1.4rem;
        font-weight: 600;
      }
      p {
        font-size: 1.2rem;
        padding-bottom: 0.5rem;
      }
    }
  }
}
