html,
body {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box;
}

body {
  font-family: $site-font;
  background-color: $bright-bg;
}

header {
  background-color: $dark-bg;
}

.section {
  height: calc(100vh);
  padding: 5rem 0 2rem;
}
.contactSection {
  height: calc(100vh - 8rem);
  padding: 5rem 0 2rem;
}

.aboutSection {
  height: calc(100vh);
  padding: 5rem 0 2rem;
}
