@include media-breakpoint-up(xs) {
  .contactLabel {
    font-weight: 600;
  }
  .contactForm {
    background-color: #fff;
    padding: 1rem;
    box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.1);

    .contactFormGroup {
      padding: 0.1rem;
    }
  }
}

.contactLabel {
  font-weight: 600;
}
.contactForm {
  background-color: #fff;
  padding: 2rem 1rem 2rem;
  box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.1);

  .contactFormGroup {
    padding: 0.2rem;
  }
}
