@include media-breakpoint-up(xs) {
  .contactSection {
    height: calc(120vh);
    padding: 2rem 0;
  }
  .contactLabel {
    font-weight: 600;
  }
  .contactForm {
    background-color: #fff;
    padding: 0.5rem;
    box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.1);

    .contactFormGroup {
      padding: 0;
    }
  }
}

@include media-breakpoint-up(sm) {
  .contactSection {
    height: calc(100vh);
  }
}
@include media-breakpoint-up(md) {
  .contactSection {
    height: calc(100vh - 6rem);
  }
}
.contactLabel {
  font-weight: 600;
}
.contactForm {
  background-color: #fff;
  padding: 2rem 1rem 2rem;
  box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.1);

  .contactFormGroup {
    padding: 0.2rem;
  }
}
