@include media-breakpoint-up(xs) {
  .gallerySection {
    padding: 0rem;
    height: calc(120vh);
  }
  .image-gallery-svg {
    //CUSTOM STYLE height: 120ox, width: 60px
    height: 40px !important;
    width: 20px !important;
  }
  .image-gallery-thumbnail {
    height: 60px !important;
    width: auto !important;
  }
  .image-gallery-thumbnail-image {
    //CUSTOM STYLE width: 100%
    width: auto !important;
    height: 50px !important;
  }
}

@include media-breakpoint-up(sm) {
  .gallerySection {
    padding: 2rem;
    height: calc(150vh);
  }
  .image-gallery-svg {
    //CUSTOM STYLE height: 120ox, width: 60px
    height: 60px !important;
    width: 40px !important;
  }
}
@include media-breakpoint-up(md) {
  .gallerySection {
    height: calc(100vh);
  }
  .image-gallery-svg {
    //CUSTOM STYLE height: 120ox, width: 60px
    height: 80px !important;
    width: 40px !important;
  }
  .image-gallery-thumbnail {
    height: 120px !important;
    width: auto !important;
  }
  .image-gallery-thumbnail-image {
    //CUSTOM STYLE width: 100%
    width: auto !important;
    height: 100px !important;
  }
}

#gallery {
  background-color: $dark-bg;
  padding-top: 6rem;
}

.image-gallery-slide .image-gallery-image {
  //CUSTOMIZED STYLE
  height: calc(80vh - 80px) !important; // 80 px for the thumbnail space
}

@media (min-width: $ig-small-screen) {
  // Don't hover on screens smaller than small
  &:hover {
    .image-gallery-svg {
      transform: scale(1) !important;
    }
  }
}
