#gallery {
  background-color: $dark-bg;
  padding-top: 6rem;
}

.image-gallery-slide .image-gallery-image {
  //CUSTOMIZED STYLE
  height: calc(80vh - 80px) !important; // 80 px for the thumbnail space
}

.image-gallery-thumbnail {
  height: 100px !important;
}
.image-gallery-thumbnail-image {
  //CUSTOM STYLE width: 100%
  width: 100% !important;
  height: 100px !important;
}

@media (min-width: $ig-small-screen) {
  // Don't hover on screens smaller than small
  &:hover {
    .image-gallery-svg {
      transform: scale(1) !important;
    }
  }
}

.image-gallery-svg {
  //CUSTOM STYLE height: 120ox, width: 60px
  height: 120px !important;
  width: 60px !important;
}
