.navbar {
  background-color: white;
  // box-shadow: 1px 1px 1px $dark-text;
  font-size: 1.1rem;
  box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.1);
}

.nav {
  max-width: 700px;
  display: flex;
}

.navlink {
  color: $dark-text;
  font-weight: 600;
}

.isCurrent {
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  color: $dark-text;
}
