.navbar {
  background-color: white;
  // box-shadow: 1px 1px 1px $dark-text;
  font-size: 1.3rem;
  box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.1);
  line-height: 3rem;
  z-index: 400;
}

.nav {
  max-width: 550px;
  display: flex;
}

.navlink {
  color: $dark-text;
  font-weight: 500;
}

.isCurrent > a {
  border-bottom: solid $dark-text 2px;
  //   text-decoration: underline;
  //   text-decoration-thickness: 2px;
}

.navbar a:hover {
  text-decoration: none;
  // text-decoration-thickness: 2px;
  color: $dark-text;
  border-bottom: solid $dark-text 2px;
}
