@include media-breakpoint-up(xs) {
  .shopSection {
    padding: 1rem;
    height: calc(120vh);
  }
}
@include media-breakpoint-up(sm) {
  .shopSection {
    padding: 2rem;
    height: calc(100vh);
  }
}
@include media-breakpoint-up(md) {
  .shopSection {
    height: calc(100vh);
  }
}

.shopImage {
  border: 1rem #3a3a3a solid;
}

.shopCard {
  margin: 2rem;
  background-color: $bright-bg;
  text-align: center;
  text-transform: capitalize;
  border: 0;
}

.shopFormSummary {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  .capitalize {
    text-transform: capitalize;
  }
  .bold {
    font-weight: bold;
  }
  #right {
    text-align: right;
  }
}

.shopFormSummaryOrder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  > div {
    flex: 0 50%;
  }
}

.disclaimer {
  p {
    font-size: 10pt;
  }
}

.shopFormSummaryInformation {
}
