/* SERIF */
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tinos&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap");

/* SANS SERIF */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap");

/* VARIABLES */
$hero-font: "Prata", serif;
$site-font: "Raleway", sans-serif;
$bright-bg: #f5f0ed;
$dark-bg: #1a1a1a;
$dark-text: rgb(8, 8, 8);
$hero-color: #ff0000;
