/* SERIF */
@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Vollkorn&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tinos&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap");
/* SANS SERIF */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800;900&display=swap");
/* VARIABLES */

/* FONTS */
$hero-font: "Prata", serif;
$site-font: "Raleway", sans-serif;
$work-font: "Open Sans", sans-serif;
$nav-font: "Changa One";
$text-font: "Montserrat", sans-serif;
$headline-font: "font-family: 'Cormorant Garamond', serif";
/* COLORS */
$bright-bg: #f5f0ed;
$dark-bg: #2e2e2e;
$dark-text: #3a3a3a;
$hero-color: #ff0000;
